*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {
    padding: 20px 10px;
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.body-container {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 500px;
    height: 700px;

    background-color: #a9a9a9;
}

.screen-container {
    padding: 0 0;
    text-align: right;
    background-color: #d3d3d3;
}

#calc-history,
#calc-current {
    background-color: #d3d3d3;
}

#clearBtn,
#deleteBtn {
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    border-radius: 5px;
}

#clearBtn {
    grid-column: span 2;
    background-color: lightcoral;
    color: black;
}

#deleteBtn {
    background-color: #aaf;
    color: black;
}

.btn-grid {
    padding: 0;
    display: grid;
    flex: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 0px;
}

.btn {
    font-size: 16px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 5px;
}