*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {
    padding: 20px 10px;
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.body-container {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 500px;
    height: 700px;

    background-color: #d3d3d3;
}

.screen-container {
    padding: 0 0;
    
}

.del-clr-container {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

#clearBtn,
#deleteBtn {
    font-size: 20px;
    padding: 20px 70px;
    border: 0px solid black;
    border-radius: 5px;
}

#clearBtn {
    background-color: lightcoral;
    color: black;
}

#deleteBtn {
    background-color: #aaf;
    color: black;
}

.btn-grid {
    display: grid;
    flex: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}